<% layout('layout') -%>
<div id='anibg' style='background-image: url(http://static.brocoin.org/images/polytronic.gif);'></div>
<div id='blackout'></div>
<section class="container">
  <h1><b>Brocoin:</b> the bro way to pay</h1>
  <h2>Dropping Spring Break 2014, bro.</h2>
  <div id="coin">
    <img src='http://static.brocoin.org/images/brocoin352x352.png' />
  </div>
</section>
<footer class='major'>
  <ul class='fa-ul'>
    <li><a href=''><i class='fa fa-li fa-cloud-download'></i> Download Wallet</a> <span>OS X, Windows, and Linux</span></li>
    <li><a href='https://twitter.com/brocoin'><i class='fa fa-li fa-twitter'></i> News</a> <span>@brocoin on Twitter</span></li>
  </ul>
</footer>
<footer class='minor'>
  <ul>
    <li><i class='fa fa-music'></i> <a href='https://soundcloud.com/charlie-traplin-uk-1/charlie-traplin-x-sentinel'>Charlie Traplin x Sentinel</a></li>
    <li><i class='fa fa-camera'></i> <a href='http://cargocollective.com/matthewdivito/Animated-Gifs-04'>Matthew DiVito</a></li>
  </ul>
</footer>